 AddHandler application/x-httpd-php54 .php 
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
RewriteCond %{HTTP_HOST} ^activista\.planeosweb\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.activista\.planeosweb\.com$
RewriteRule ^/?$ "http\:\/\/planeosweb\.com\/activista\.planeosweb\.com\/public\/" [R=301,L]

